* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Forum";
    src: url("./assets/fonts/Forum-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Light.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: normal;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    /* display: flex; */
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Forum";
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h2 {
    font-size: 80px;
    color: #9D8665;
    letter-spacing: 5px;
    text-transform: uppercase;
    ;
}

.border-bottom {
    border-bottom: 3px solid #710707;
    width: 100%;
    padding-bottom: 27px;
}

.section-padding {
    padding: 75px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    border: 0;
}

ul {
    padding: 0;
    margin: 0;
}

/* Header */

.header {
    background: #030303;
}

.header-container {
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    font-family: "Roboto";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    color: #ffffff;
    padding: 61.5px 0;
}

.nav-list .nav-item:not(:first-child) {
    margin-left: 56px;
}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 2px;
}

.logo {
    font-family: "Forum";
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 5px;
}

.logo img {
    margin-right: 12px;
}

@media screen and (min-width: 1025px) {
    .toggle {
        display: none;
    }
}

/* Header */

/* Welcome */
.welcome {
    background: #000000;
}

.welcome h1 {
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 25px;
    line-height: 1.12em;
}

.welcome .subtitle {
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 2px;
    padding-bottom: 99px;
}

.welcome .btn {
    background: #710707;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 24px 66px;
    border-radius: 10px;
    font-size: 22px;
}

.welcome .col-right {
    width: 100%;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 60px;
}

.welcome .col-left {
    position: absolute;
    padding-top: 150px;
    z-index: 1;
}

.welcome .col-right .wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 310px;
    height: 100%;
    background: linear-gradient(90deg, black, transparent);
}

.welcome .wrapper {
    position: relative;
    font-size: 0;
}

.welcome .navigation {
    position: absolute;
    bottom: 0;
    background: #000000;
    right: 0;
    max-width: 600px;
    width: 100%;
    min-height: 120px;
    padding: 0 75px;
}

.welcome .counts {
    font-size: 22px;
    color: #ffffff;
}

.welcome .dots .dot {
    width: 16px;
    height: 16px;
    background: #ffffff;
    cursor: pointer;
}

.welcome .dots .dot.active {
    background: #D2B183;
}

.welcome .dots .dot:not(:last-child) {
    margin-right: 25px;
}

.welcome .arrow {
    cursor: pointer;
    height: 30px;
}

.welcome .arrow-left {
    margin-right: 10px;
}

.welcome .arrow-right {
    margin-left: 10px;
}

.welcome .separator {
    padding: 0 10px;
}

.welcome .dots {
    margin-right: 5px;
}

/* Welcome */

/* Visiting */

.visiting {
    padding-bottom: 0;
}

.visiting .title {
    font-size: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 12px;
    transition: 300ms all;
    margin-bottom: 11px;
    width: 100%;
    position: relative;
}

.visiting .title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 2px;
    background: #710707;
    transition: 300ms all;
}

.visiting .description {
    font-weight: 100;
}

.visiting .row-1 {
    margin-bottom: 8px;
}

.visiting .row-2 {
    font-size: 18px;
    font-weight: 100;
    line-height: 21px;
}

.visiting .section-title {
    margin-bottom: 75px;
}

.visiting .image {
    padding-bottom: 25px;
    font-size: 0;
}

.visiting .item:hover .title:after {
    width: 100%;
}

.visiting .item {
    width: calc(33.33333% - 60px);
    margin: 0 30px 75px;
}

.visiting .cards {
    margin: 0 -30px;
}

/* Visiting */

/* Footer */

footer {
    background: #000000;
}

.footer-top {
    border-bottom: 3px solid #666666;
    padding-top: 84px;
    padding-bottom: 24px;
}

footer .footer-col {
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 100;
    line-height: 22px;
}

footer .footer-link {
    font-weight: 100;
    color: #ffffff;
    letter-spacing: 2px;
}

.footer-main .links {
    width: 100%;
    padding-left: 140px;
}

footer .logo {
    min-width: 200px;
}

footer .footer-list {
    padding: 4px 0 0 0;
}

footer .footer-item {
    margin-bottom: 25px;
    line-height: 26px;
    width: 50%;
}

footer .social-item {
    border: 1px solid #666666;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    justify-content: center;
}

footer .social-item:not(:last-child) {
    margin-right: 25px;
}

footer .social-item img {
    width: 24px;
    height: 24px;
}

footer .socials.d-flex {
    align-items: flex-end;
    padding-bottom: 31px;
}

footer .footer-bottom {
    padding: 50px 0 52px;
}

/* Footer */